# Inserting Data To MySQL with SQLAlchemy

## Push the data from Notebook to mySQL

In [ ]:
import pandas as pd
import sqlalchemy

In [ ]:
schema="gans_database"   # name of the database you want to use here
host="127.0.0.1"        # to connect to your local server
user="root"
password="boncuk1903" # your password!!!!
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

## CITIES

In [ ]:
# cities_df.csv
url = "https://drive.google.com/file/d/1V95Em_Sqedoi-RMMmCXTuSCGMugMOPCl/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
cities = pd.read_csv(path)

In [ ]:
cities

        city         country latitude longitude  population
0     Berlin         Germany  52.3112   13.2418     3677472
1    Hamburg         Germany   53.33N    10.00E     1906411
2     London  United Kingdom  51.3026     0.739     8799800
3   Istanbul          Turkey  41.0049   28.5718    15907951
4  Barcelona           Spain   41.23N     2.11E     1620343

In [ ]:
cities.to_sql('cities',         # 'cities'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)

5

## WEATHER

In [ ]:
# weather_df.csv
url = "https://drive.google.com/file/d/1RVdrJRJGfp7gbraM13rkBrypfaCuiPks/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
weather = pd.read_csv(path)

In [ ]:
weather

,city,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,city_id
0,Berlin,2023-02-10 12:00:00,Clouds,broken clouds,4.47,0.83,75,0.0,0,4.69,261,81,1024,1
1,Berlin,2023-02-10 15:00:00,Clouds,broken clouds,4.48,1.18,83,0.0,0,4.07,249,79,1027,1
2,Berlin,2023-02-10 18:00:00,Clouds,overcast clouds,2.91,-0.93,90,0.0,0,4.36,239,83,1030,1
3,Berlin,2023-02-10 21:00:00,Clouds,broken clouds,1.60,-2.96,81,0.0,0,5.08,234,79,1032,1
4,Berlin,2023-02-11 00:00:00,Clouds,overcast clouds,2.33,-2.28,90,0.0,0,5.54,243,81,1030,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Barcelona,2023-02-14 21:00:00,Clouds,few clouds,10.51,9.71,17,0.0,0,0.24,82,80,1028,5
196,Barcelona,2023-02-15 00:00:00,Clouds,scattered clouds,9.68,9.34,30,0.0,0,1.45,345,83,1026,5
197,Barcelona,2023-02-15 03:00:00,Clouds,few clouds,8.99,8.10,16,0.0,0,1.90,12,81,1025,5
198,Barcelona,2023-02-15 06:00:00,Clouds,few clouds,8.75,7.49,18,0.0,0,2.30,21,75,1024,5
199,Barcelona,2023-02-15 09:00:00,Clouds,broken clouds,10.57,9.56,74,0.0,0,2.21,59,72,1023,5

In [ ]:
weather.to_sql('weather',         # 'cities'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)

200

## AIRPORTS

In [ ]:
# airports_df.csv
url = "https://drive.google.com/file/d/1OfWuU6RyiY5UnsRu8WgLvhco5dMd2xrE/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
airports = pd.read_csv(path)

In [ ]:
airports

,icao,name,short_name,city,country_code,city_id
0,EDDB,"Berlin, Berlin Brandenburg",Brandenburg,Berlin,DE,1
1,EDDH,Hamburg,Hamburg,Hamburg,DE,2
2,EGLC,"London, London City",City,London,GB,3
3,EGKK,"London, London Gatwick",Gatwick,London,GB,3
4,EGSS,"London, London Stansted",Stansted,London,GB,3
5,EGLL,"London, London Heathrow",Heathrow,London,GB,3
6,EGGW,"London, London Luton",Luton,London,GB,3
7,LTFM,Istanbul,Istanbul,Istanbul,TR,4
8,LTFJ,"Istanbul, Sabiha Gökçen",Sabiha Gökçen,Istanbul,TR,4
9,LEBL,Barcelona,Barcelona,Barcelona,ES,5

In [ ]:
airports.to_sql('airports',         # 'cities'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)

10

## FLIGHTS

In [ ]:
# flights_df.csv
url = "https://drive.google.com/file/d/1W6mtPAxPCBCDuOIDukzxMWsMSQlkAoH8/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
flights = pd.read_csv(path)

In [ ]:
flights

,icao,arrival_time_local,arrival_terminal,departure_city,departure_time_local,airline,flight_number
0,EDDB,2023-02-11 10:30:00+00:00,1,Paris,2023-02-11 08:40:00+00:00,easyJet,U2 5652
1,EDDB,2023-02-11 10:30:00+00:00,1,Paris,2023-02-11 08:40:00+00:00,easyJet,U2 5652
2,EDDB,2023-02-11 10:30:00+00:00,1,Paris,2023-02-11 08:40:00+00:00,easyJet,U2 5652
3,EDDB,2023-02-11 10:30:00+00:00,1,Paris,2023-02-11 08:40:00+00:00,easyJet,U2 5652
4,EDDB,2023-02-11 10:30:00+00:00,1,Paris,2023-02-11 08:40:00+00:00,easyJet,U2 5652
...,...,...,...,...,...,...,...
4419,LEBL,2023-02-11 21:35:00+00:00,1,London,2023-02-11 19:35:00+00:00,Vueling,VY 7825
4420,LEBL,2023-02-11 21:35:00+00:00,1,London,2023-02-11 19:35:00+00:00,Vueling,VY 7825
4421,LEBL,2023-02-11 21:35:00+00:00,1,London,2023-02-11 19:35:00+00:00,Vueling,VY 7825
4422,LEBL,2023-02-11 21:35:00+00:00,1,London,2023-02-11 19:35:00+00:00,Vueling,VY 7825
4423,LEBL,2023-02-11 21:35:00+00:00,1,London,2023-02-11 19:35:00+00:00,Vueling,VY 7825

In [ ]:
flights.to_sql('flights',         # 'cities'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)

4424